@using MVC_Practice.Models

@{
    ViewBag.Title = "ShowCarDetails";
}

<h2>@ViewBag.Product.Name Description</h2>

<p>ID in list - @ViewBag.Product.ID</p>
<p>Name: @ViewBag.Product.Name</p>
<p>Description: @ViewBag.Product.Description</p>
<p>Price: @ViewBag.Product.Price $</p>



